input {
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

@media all\0 { input { padding: 3px 8px 0px 8px; } }

#section-content {
	color: #5b5b5b;
}



.title {
	color: #ACACAC;
	padding: 10px;
}

.block-socialization-right-icons {
	background: #EFF3F4;
	border-radius: 10px;
	font-size: 18px;
	text-align: center;
	margin-top: 5px;
}

.block-socialization-right-icons {
	padding: 10px;
}

.block-socialization-right-icons img {
	margin-right: 7px;
}

img.twitter {
	margin-right: 0px;
}

.block-other-offers {
	width: 243px;
	margin-top: 13px;
	background: #EFF3F4;
	border-radius: 10px;
	font-size: 18px;
}

.block-recent-search .title,
.block-other-offers .title,
.filters .title {
	text-align: center;
	border: none;
	color: black;
}

.search-description,
.search-image-link,
.offer-description,
.offer-image-link {
	display: inline-block;
}

.search-image-link,
.offer-image-link {
	background-image: url('../images/search-arrow-link.png');
	width: 24px;
	height: 24px;
}

.search-image-link:hover,
.offer-image-link:hover{
	background-image: url('../images/search-arrow-link-active.png');
}

.search-description-place,
.offer-description-place {
	font-size: 16px;
}
.offers {
	padding-top: 0;
	color: #5B5B5B;
	border-top: 1px solid #ACACAC;	
}

.offers {
	cursor: pointer;
}

.search-description,
.offer-description {
	margin-left: 10px;
	margin-right: 26px;
}

.flight-id {
	position: relative;
	font-size: 14px;
}
.flight .flight-id {
margin-left: 120px;
}

.offer-image-link {
	position: relative;
	margin-top: 6px;
	margin: 0\9;
	top: 6px\9;
	left: 21px;
}

.offer-description-place {
	position: relative;
	top: -6px;
}

.calendar-pick.ticket-type {
	padding: 10px;
	padding-top: 10px;
}
.ticket-field,
.ticket-radio,
.calendar-select-month {
	margin-bottom: 14px;
}

.ticket-to-field,
.ticket-from-field,
.ticket-departure-field,
.ticket-return-field {
	height: 33px;
	padding-left: 14px;
	padding-right: 14px;
	border-radius: 10px;
}

.ticket-return-field {
	background: #d5d5d5;
}

.buttons-select {
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.buttons-search-ticket {
	background: #e84044;
	color: white;
	padding: 5px;
	border-radius: 5px;
	height: 26px;
	margin-top: -15px;
	margin-bottom: 9px;
	text-align: center;
	font-size: 20px;
	right: 10px;
}

.buttons-search-ticket:hover,
.buttons-reserve-ticket:hover {
	background-color: #CC3A45;
	cursor: pointer;
}
.buttons-search-ticket img {
	position: relative;
	top: 1px;
}

.login-popup {
	width: 605px;
	height: 330px;
	position: fixed;
	top: 50%;
	margin-left: -302.5px;
	margin-top: -175px;
	left: 50%;
	z-index: 9999;
	background: #EFF3F4;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	font-size: 15px;
	display: none;
}

.login-popup-in.popup-title,
.login-popup-in.social,
.login-popup-in.fields,
.login-popup-in.popup-footer {
	z-index: 9999;
}

.login-popup-in.popup-title {
	font-size: 21px;
	padding-bottom: 15px;
	margin-bottom: 18px;
	border-bottom: 2px solid #e9e9e9;
}

.login-popup-in.fields {
	margin-bottom: 18px;
	padding-bottom: 15px;
	border-bottom: 2px solid #e9e9e9;
}

.login-popup-in.social {
	margin-bottom: 8px;
	border-bottom: 2px solid #e9e9e9;
	font-size: 18px;
}

.field-input-popup {
	width: 262px;
	height: 30px;
}

.fields.email {
	float: left;
	margin-left: 5px;
	margin-right: 31px;
}

.fields.email, .fields.password {
	margin-bottom: 15px;
}

.button-registration {
	background: #e84044;
	border-radius: 5px;
	color: white;
	padding: 5px;
	height: 26px;
	width: 165px;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

.flight {
	width: 671px;
	background: #EFF3F4;
	border-radius: 10px;
	padding: 30px 15px 30px 15px;
	margin-bottom: 13px;
}

.block-calendar-left {
	width: 244px;
	margin-right: 15px;
	background: #EFF3F4;
	border-radius: 10px;
}

	

.course-name {
	background: #EFF3F4;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: 21px;
	color: black;
	margin-bottom: 10px;
}

.content-middle-filters {
	position: relative;
	left: 104px;
}

.content-filters-right a {
	color: white;
}

.plusminus:hover {
	background: #24529b!important;
}

.content-main-filters {
	margin-bottom: 10px;
	margin-top: 15px;
	color: white;
}

.content-filters-right.plusminus {
	float: right;
}

.content-main-filters .content-filters-left span,
.content-main-filters .content-middle-filters span,
.content-main-filters .content-filters-right span {
	background: #5282C0;
	border-radius: 5px;
	padding: 5px;
}

.content-main-filters .content-filters-left span:hover,
.content-main-filters .content-middle-filters span:hover,
.content-main-filters .content-filters-right span:hover {
	background: #24529b;
}

.flight-info,
.flight-info-detailed-blue,
.flight-info-detailed-red {
	width: 100%;
	font-size: 11px;
	border-collapse: collapse;
}

.flight-info-header {
	font-size: 16px;
	text-align: left;
}

.flight-name {
	font-size: 12px;
	font-weight: bold;
}

.date-blue-in {
	font-size: 12px;
	color: #5584C3;
	font-weight: bold;
font-family: 'Source Sans Pro', sans-serif;
}

.date-red-in {
	font-size: 12px;
	color: #E94045;
	font-weight: bold;
font-family: 'Source Sans Pro', sans-serif;
}

.flight-date {
	font-family: 'Source Sans Pro', sans-serif;
}

.airport-name-blue,
.airport-name-red {
	font-size: 12px;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 2px
}

.terminal-type {
font-family: 'Source Sans Pro', sans-serif;
	margin-bottom: 5px;
}

.take-off-time-blue {
	font-size: 17px;
	color: #5584C3;
}

.take-off-time-red {
	font-size: 17px;
	color: #E94045;
}

.flight-icons img {
	margin: 3px;
}

.cell-3 {
font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

.landing-time-blue,
.landing-time-red {
	font-size: 17px;
	color: black;
}

.flight-info-header {
	border-bottom: 2px solid #C8C8C8;
font-weight: bold;
}

.last-row td {
	border-bottom: 2px solid #C8C8C8;
}

.stop {
	border-top: 2px solid #c8c8c8;
	border-bottom: 2px solid #c8c8c8;
}

.flight-stop-info {
	text-align: center;
}

.flight-stop-info {
	font-size: 12px;
	padding-bottom: 7px;
	padding-top: 7px;
}

.show-detailed-info-button {
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 2px solid #C8C8C8;
	border-top: 2px solid #C8C8C8;
}

.blue-info {
	margin-top: 10px;
	font-size: 16px;
	margin-bottom: 7px;
	border-bottom: 2px solid #C8C8C8;
}

.date-blue {
	color: #5584C3;
	font-size: 17px;
}


.date-red {
	color: #E94045;
	font-size: 17px;
}

.red-info {
	padding-top: 20px;
}

.last-row td{
	border-bottom: none;
}

.show-detailed-info {
	display: none;
}

.language-block li, 
.people-select li {
	list-style: none;
	margin-top: 5px;
	margin-bottom: 5px;
}

.language-block li:hover {
	background: white;
	color: #5282C0;
}

.language-block ul {
	padding: 0px;
	margin: 0px;
	display: none;
	z-index: 100;
	background: #5282C0;
	border-radius: 5px;
	color: white;
	margin-top: 1px;
	width: 90px;
	padding: 5px;
}

.people-number ul {
	padding: 0px;
	margin: 0px;
	display: none;
	z-index: 100;
	background: #5282C0;
	border-radius: 5px;
	color: white;
	margin-top: 1px;
	width: 120px;
	padding: 5px;
}

.people-number {
	margin-bottom: 10px;
}

.language-block .button-text,
.people-number .button-text {
	background: #5282C0;
	padding: 5px;
	border-radius: 5px;
	width: 90px;
	color: white;
	cursor: pointer;
}

.people-number .button-text {
	width: 111px;
}

.language-block img,
.ticket-class img{
	float: right;
	border-left: 1px solid white;
	margin-top: -29px;
	margin-right: 4px;
	padding-top: 10px;
	padding-left: 4px;
	padding-bottom: 9px;
}

.language-block img {
	margin-top: -28px!important\9;
	padding-top: 9px!important\9;
	padding-bottom: 9px;
}

.luggage-in img,
.check-in img,
.kids-eq-in img,
.sport-eq-in img,
.music-eq-in img {
	border-left: 1px solid #a4a5a5;
	padding-bottom: 7px;
}

.people-number ul,
.ticket-class ul {
	padding: 0px;
	margin: 0px;
	display: none;
	z-index: 100;
	background: white;
	border-radius: 5px;
	color: #5b5b5b;
	margin-top: 1px;
	width: 132px;
	padding: 5px;
	border: 1px solid #adadad;
	list-style: none;
}

.language-block ul li,
.ticket-class ul li {
	cursor: pointer;
}

.people-select .text {
	float: left;
	width: 75px;
}

.people-select li {
	float: left;
	margin-bottom: 15px;
}

.people-select .category {
	font-size: 14px;
}

.people-select .age {
	font-size: 11px;
}

.people-number .button-text,
.ticket-class .button-text {
	background: white;
	padding: 5px;
	border-radius: 5px;
	width: 90px;
	color: #5b5b5b;
	border: 1px solid #adadad;
	cursor: pointer;
}

.people-number img,
.ticket-class img {
	margin-top: -5px;
	border-left: 1px solid #a4a5a5;
	float: right;
	padding-left: 4px;
	padding-top: 9px;
	padding-bottom: 10px;
}

.ticket-class img {
	margin-top: -30px;
	margin-right: 128px;
}

.registration-popup .fields {
	float: left;
}

.registration-popup .fields.password {
	margin-left: 5px;
	margin-right: 31px;
	margin-bottom: 30px;
}

.tos-text-accept {
	display: inline-table;
}

.login-popup,
.registration-popup {
	width: 605px;
	height: 350px;
	position: fixed;
	top: 50%;
	margin-left: -302.5px;
	margin-top: -175px;
	left: 50%;
	z-index: 9999;
	background: #EFF3F4;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	font-size: 15px;
	display: none;
}

.login-popup-in.popup-title,
.registration-popup .popup-title {
	font-size: 21px;
	padding-bottom: 15px;
	margin-bottom: 18px;
	border-bottom: 2px solid #e9e9e9;
}

.login-popup input,
.registration-popup input {
	border-radius: 5px;
	font-size: 16px;
}


.fields.email, .fields.password {
	margin-bottom: 30px;
}

.button-login img {
position: relative;
}

.button-login, .button-registration {
color: white;
font-size: 20px;
}

.button-registration {
width: 170px;
}

.promotion-ticket .duration {
	font-size: 12px;
	text-align: center;
}

.promotion-ticket {
	width: 321px;
}

.promotion-ticket {
	background: #EFF3F4;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 15px;
	display: inline-block;
	height: 334px;
	position: relative;
}

.buttons-special-ticket {
	float: right;
	background: #e84044;
	border-radius: 5px;
	color: white;
	padding: 5px;
	height: 26px;
	font-size: 20px;
	margin-top: 5px;
	text-align: center;
}

.promotion-ticket .flight-info {
	margin-bottom: 30px;
}

.promotion-ticket .buttons-special-ticket img {
	position: relative;
	top: 1px;
}

.promotion {
	position: absolute;
	left: 235px;
	top: 0px;
}

.promotion-1 {
	margin-right: 15px;
	position: relative;
}

.filters {
	background: #EFF3F4;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
	width: 224px;
}

.flight-landing {
	display: none;
}

.people-number .button-text,
.ticket-class .button-text{
	background: white;
	padding: 5px;
	border-radius: 5px;
	width: 132px;
	padding-bottom: 2px;
	color: #5b5b5b;
	border: 1px solid #adadad;
	line-height: 21px;
	text-align: center;
}

.language-block img,
.ticket-class img{
	float: right;
	border-left: 1px solid white;
	margin-top: 0px;
	padding-right: 8px;
	padding-top: 10px;
	padding-left: 8px;
	padding-bottom: 8px;
	margin-right: 0;
}

.language-block img {
	margin-top: -29px;
}

.ticket-class img {
	border-left: 1px solid #a4a5a5;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-right: 8px;
	margin-right: -5px;
	padding-bottom: 7px;
	margin-top: -5px;
}

.people-number img {
	margin-top: -5px;
	border-left: 1px solid #a4a5a5;
	float: right;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 7px;
	padding-right: 8px;
	margin-right: -5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.ticket-class li:hover {
	background: #d7d7d7;
}
	
.language-block li{
	margin-bottom: -5px;
}

.language-block li:hover {
	background: #24529b;
	color: white;
	cursor: pointer;
}

.ticket-class:hover {
	cursor: pointer;
}

.people-number li:hover {
	background: #d7d7d7;
}

.people-number li:first-child {
	margin-top: -5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.people-number li:last-child {
	margin-bottom: -5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.language-block li, 
.people-select li,
.ticket-class li,
.currency li {
	list-style: none;
	margin-left: -5px;
	padding-left: 5px;
	margin-right: -5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.people-number li {
	float: left;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: -5px;
	padding-left: 9px;
	padding-right: 20px;
	margin-bottom: -5px;
}

.ticket-departure-field,
.ticket-return-field {
	width: 193px;
}

.ticket-from-field,
.ticket-to-field {
	width: 193px;
}

.ticket-radio-1,
.ticket-radio-2,
.ticket-radio-3 {
	width: 112px;
	font-size: 14px;
}

.ticket-radio-1 {
	margin-right: 11px;
}

.filter-title {
	font-size: 15px;
	border-bottom: 1px solid #acacac;
	margin-bottom: 15px;
	padding-bottom: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.filter-content {
	font-size: 14px;
}

.wCheck {
	margin-top: 1px;
}

.filter-content span {
	margin-right: 20px;
}

.filter-content .price {
	color: #E94045;
}

.ui-slider {
margin-left: 10px;
width: 212px;
margin-top: 5px;
margin-bottom: 5px;
}

.slider-flight-takeoff-away-value,
.slider-flight-landing-away-value,
.slider-flight-takeoff-return-value,
.slider-flight-landing-return-value {
	margin-bottom: 20px;
}

.price .filter-content span {
	margin-right: 0;
}

.buttons-reserve-ticket,
.buttons-reserve-1-ticket,
.buttons-buy-ticket,
.buttons-print-ticket {
	position: relative;
	float: right;
	background: #e84044;
	border-radius: 5px;
	color: white;
	padding: 5px;
	height: 26px;
	font-size: 20px;
	cursor: pointer;
}

.buttons-reserve-ticket,
.buttons-reserve-1-ticket {
	cursor: pointer;
	margin-right: -5px;
}

.buttons-reserve-ticket {
	margin-top: -37px;
}

.buttons-buy-ticket,
.buttons-print-ticket {
	margin-top: -35px;
	margin-right: -5px;
}

.buttons-print-ticket {
	display: none;
}

.buttons-reserve-ticket:hover,
.buttons-buy-ticket:hover,
.buttons-reserve-1-ticket:hover {
	background: #cb3a44;
}


.flight, .divide {
	background: #EFF3F4;
	border-radius: 10px;
	padding: 15px 15px 9px 15px;
	margin-bottom: 13px;
	display: block;
	
}

.row-inp {
	display: inline-block;
	margin-right: 8px;
	margin-top: 10px;
}

@-moz-document url-prefix() { 
  .row-inp.adult-part	 {
     margin-right: 5px;
  }
}

noindex:-o-prefocus, .row-inp.adult-part {
     margin-right: 16px;
}

.input-data {
	font-size: 14px;
	display: none;
	margin-bottom: 76px;
	margin-top: -10px;
}

.input-data input {
	height: 25px;
	font-size: 13px;
}


.input-data .expiration-field-d,
.input-data .expiration-field-m,
.input-data .expiration-field-y,
.input-data .birthday-field-d,
.input-data .birthday-field-m,
.input-data .birthday-field-y {
	border-radius: 0;
	width: 25px!important;
}

.input-data .expiration-field-d,
.input-data .birthday-field-d {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.input-data .expiration-field-y,
.input-data .birthday-field-y {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 39px;
}

.input-data .title,
.other-service {
	font-size: 16px;
	color: black;
	font-weight: bold;
	border-bottom: 1px dotted #DBDBDB;
	margin-bottom: -5px;
}

.row-inp.gender {
	width: 164px;
}

@media all\0 { .row-inp.gender { margin-right: 9px; } }

@-moz-document url-prefix() { 
  .row-inp.gender {
	margin-right: 6px;
  }
}
  
  .row-inp.adult-part {
	margin-right: 16px\9;
  }

  .row-inp.gender {
	margin-right: 12px\9;
  }

noindex:-o-prefocus,.row-inp.gender {
	margin-right: 13px;
}


.pay-methods .title {
	font-size: 16px;
	color: black;
	font-weight: bold;
	border-bottom: 1px solid #dbdbdb;
	padding-left: 0px;
}

.coupon-field,
.coupon-button {
	display: none;
}

.card, .transfer {
	display: none;
	font-size: 14px;
}

.card .info,
.CVV-info,
.payment-info,
.office .info {
	font-size: 13px;
	color: #A5A6A7;
	margin-bottom: 10px;
}

.end-price .price {
	font-size: 20px;
	color: #E94045;
}

.pay-methods {
	display: none;
}

.end-price {
	clear: left;
	margin-bottom: 30px;
}

.card-face {
	float: left;
	background-color: #A2CEEF;
	border-radius: 6px;
	padding: 10px 18px;
	border: 1px solid #5282C2;
	width: 285px;
	height: 157px;
	margin-bottom: 10px;
}

.card-back {
	padding: 10px;
	width: 285px;
	height: 157px;
	float: left;
	background-color: #A2CEEF;
	border-radius: 6px;
	padding: 10px 18px;
	border: 1px solid #5282C2;
	margin-left: 20px;
}

.secure-line {
	background-color: #333;
	height: 20px;
	width: 323px;
	position: relative;
	left: -19px;
	margin-top: 3px;
	height: 42px;
}

.card-back .back-cvv {
	background-color: #CDE5F4;
	border: 1px solid #C0E6F4;
	float: left;
	width: 319px;
	height: 60px;
	margin-left: -18px;
	margin-top: 5px;
	margin-left: -18px;
	margin-top: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.card-back .back-cvv .inner {
	float: right;
}

.owner {
	float: left;
}

.card-icon {
	text-align: center;
}

.payment-info {
	clear: both;
	color: black;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.office .map {
	float: left;
	background: url("../images/office.jpg") no-repeat scroll -7px -186px transparent;
	width: 422px;
	height: 187px;
	border: 1px solid #5282C2;
	border-radius: 6px;
	margin-right: 10px;
}

.map-info {
	width: 180px;
	float: right;
	font-size: 14px;
	margin-top: -20px;
	margin-right: 40px;
	margin-bottom: 20px;
}

.coupon {
	clear: both;
	border-bottom: 1px solid #DBDBDB;
	border-top: 1px solid #DBDBDB;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.coupon-field {
	height: 25px;
	margin-left: 20px;
}

.coupon-button {
background: #e84044;
padding: 4px;
border-radius: 5px;
color: white;
margin-left: 10px;
top: 1px;
top: -2px\9;
padding-bottom: 6.1px\9;
cursor: pointer;
position: relative;
}

@-moz-document url-prefix() {
    .coupon-button {
		top: 1px;
    }
}

.coupon-button:hover {
	bacgkround: #cb3a44;
}


.language-block:hover {
	cursor: pointer;
}

.language-block li, 
.people-select li,
.ticket-class li,
.currency li {
	list-style: none;
	margin-left: -5px;
	padding-left: 5px;
	margin-right: -5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.ticket-class li:hover {
	background: #d7d7d7;
}

.language-block li:first-child,
.ticket-class li:first-child {
	margin-top: -5px;
	padding-top: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.language-block li:last-child,
.ticket-class li:last-child {
	margin-bottom: -5px;
	padding-bottom: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.language-block li:hover {
	background: #24529b;
	cursor: pointer;
}

.language-block ul,


.currency ul {
	margin-top: 2px;
}

.language-block ul {
	min-width: 88px;
	padding: 5px;
}

.ticket-class:hover {
	cursor: pointer;
}

.people-number ul,
.ticket-class ul,
.check-in ul,
.luggage-in ul,
.kids-eq-in ul,
.sport-eq-in ul,
.music-eq-in ul,
.individual-country ul,
.individual-sector ul,
.transfer-type ul, 
.card-in ul,
.res-individual-country ul,
.res-individual-sector ul {
	padding: 0px;
	margin: 0px;
	display: none;
	z-index: 100;
	background: white;
	border-radius: 5px;
	color: #5b5b5b;
	margin-top: 1px;
	min-width: 203px;
	min-width: 186px\9;
	padding: 5px;
	border: 1px solid #adadad;
	list-style: none;
}

.ticket-class ul {
	width: 212px;
}

.people-number ul {
	width: 212px;
}

.people-number {
	cursor: pointer;
}

.people-number li {
	float: left;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-left: -5px;
	padding-left: 11px;
	padding-right: 100px;
	width: 120px;
}

.people-number li:hover {
	background: #d7d7d7;
}

.people-number li:first-child {
	margin-top: -5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.people-number li:last-child {
	margin-bottom: -5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.people-select {
	float: left;
	clear: right;
}

.currency .button-text {
	position: relative;
	top: 1px;
	z-index: -1;
}

.language-block .button-text {
	width: 90px;
}

.people-number .button-text,
.ticket-class .button-text{
	background: white;
	padding: 5px;
	border-radius: 5px;
	width: 90px;
	color: #5b5b5b;
	border: 1px solid #adadad;
	line-height: 21px;
	text-align: center;
}

.ticket-class .button-text {
	width: 212px;
}

.check-in .button-text,
.music-eq-in .button-text,
.luggage-in .button-text,
.kids-eq-in .button-text,
.sport-eq-in .button-text,
.individual-country .button-text,
.individual-sector .button-text,
.person-type .button-text,
.card-in .button-text,
.person-info .button-text
 {
	width: 203px;
	height: 17px;
	background: white;
	padding: 5px;
	border-radius: 5px;
	color: #5b5b5b;
	border: 1px solid #adadad;
	padding-bottom: 5.1px;
	padding-bottom: 5.4px\9;
}

.check-in:hover,
.music-eq-in:hover,
.luggage-in:hover,
.kids-eq-in:hover,
.sport-eq-in:hover,
.individual-country:hover,
.individual-sector:hover,
.transfer-type:hover {
	cursor: pointer;
}

.people-number .button-text {
	width: 212px;
}

.people-select .text {
	float: left;
	width: 75px;
}

.people-select .category {
	font-size: 14px;
}

.people-select .age {
	font-size: 11px;
}

.row-inp.ffy {
	margin-top: 20px;
	margin-bottom: 10px;
}

.timer-text, .timer {
	display: inline-block;
}

.timer {
	background: #e84044;
	color: white;
	width: 190px;
	font-size: 28px;
	text-align: center;
	height: 31px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
	float: left;
	padding-bottom: 10px;
}

.timer-text {
	width: 464px;
	margin-left: -3px;
	background: #5282C0;
	color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 5px;
	padding-bottom: 10px;
	float: left;
	height: 31px;
	text-align: center;
}

.language-block img,
.ticket-class img,
.luggage-in img,
.check-in img,
.kids-eq-in img,
.sport-eq-in img,
.music-eq-in img,
.card-in img {
	float: right;
	border-left: 1px solid white;
	margin-top: -26px;
	padding-top: 12px;
	padding-left: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
}

.language-block img {
	margin-top: -28px;
	padding-top: 9px\9;
	padding-right: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px; 
	padding-top: 10px;
	padding-bottom: 7px;
}

.luggage-in img,
.check-in img,
.kids-eq-in img,
.sport-eq-in img,
.music-eq-in img,
.individual-country img,
.individual-sector img,
.person-type img,
.card-in img,
.person-info img{
	border-left: 1px solid #a4a5a5;
	float: right;
	margin-top: -28px;
	padding-top: 10px;
	padding-left: 8px;
	padding-bottom: 6px;
	padding-right: 8px;
	margin-right: 1px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.individual-country img,
.individual-sector  img,
.person-type img {
margin-top: -31px;
padding-bottom: 8px;
padding-bottom: 9px\9;
padding-top: 8px;
}

.pay-methods .individual-country img,
.pay-methods .individual-sector  img,
.pay-methods .person-type img {
margin-top: -28px;
padding-bottom: 7px;
padding-top: 9px;
}

.luggage-in li,
.check-in li,
.kids-eq-in li,
.sport-eq-in li,
.music-eq-in li,
.person-type li,
.individual-country li,
.individual-sector li,
.card-in li,
.transfer-type li,
.res-individual-country li,
.res-individual-sector li{
	padding-left: 5px;
	margin-left: -5px;
	padding-right: 5px;
	margin-right: -5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.luggage-in li:first-child,
.check-in li:first-child,
.kids-eq-in li:first-child,
.sport-eq-in li:first-child,
.music-eq-in li:first-child,
.person-type li:first-child,
.individual-country li:first-child,
.individual-sector li:first-child,
.card-in li:first-child, 
.transfer-type li:first-child,
.res-individual-country li:first-child,
.res-individual-sector li:first-child {
	margin-top: -5px;
	padding-top: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.luggage-in li:last-child,
.check-in li:last-child,
.kids-eq-in li:last-child,
.sport-eq-in li:last-child,
.music-eq-in li:last-child,
.person-type li:last-child,
.individual-country li:last-child,
.individual-sector li:last-child,
.card-in li:last-child,
.transfer-type li:last-child,
.res-individual-country li:last-child,
.res-individual-sector li:last-child {
	margin-bottom: -5px;
	padding-bottom: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.luggage-in li:hover,
.check-in li:hover,
.kids-eq-in li:hover,
.sport-eq-in li:hover,
.music-eq-in li:hover,
.person-type li:hover,
.individual-country li:hover,
.individual-sector li:hover,
.card-in li:hover,
.transfer-type li:hover,
.res-individual-country li:hover,
.res-individual-sector li:hover {
	background: #d7d7d7;
}

.ticket-class img {
	border-left: 1px solid #a4a5a5;
	margin-top: -5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-right: -5px;
}

.people-number img {
	margin-top: -5px;
	border-left: 1px solid #a4a5a5;
	float: right;
	padding-left: 8px;
	padding-top: 12px;
	padding-bottom: 8px;
	margin-right: -5px;
	padding-right: 8px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.choice {
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.choice span {
	margin-right: 50px;
	position: relative;
}

#ui-datepicker-div {
	display: none;
}

.registration-popup .fields {
	float: left;
}

.registration-popup .fields.password {
	margin-left: 5px;
	margin-right: 31px;
	margin-bottom: 30px;
}

.tos-text-accept {
	display: inline-table;
}


.registration-popup {
	height: 340px;
}

.login-popup,
.registration-popup {
	width: 605px;
	height: 350px;
	position: fixed;
	top: 50%;
	margin-left: -302.5px;
	margin-top: -175px;
	left: 50%;
	z-index: 9999;
	background: #EFF3F4;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	font-size: 18px;
	display: none;
}

.login-popup-in.popup-title,
.registration-popup .popup-title {
	font-size: 21px;
	padding-bottom: 15px;
	margin-bottom: 18px;
	border-bottom: 2px solid #e9e9e9;
}


.buttons-special-ticket:hover {
	cursor: pointer;
	background: #CC3A45;
}


.pay-methods input {
	height: 25px;
	width: 159px;
}

.exp {
	margin-left: 196px;
	width: 90px;
font-size: 16px;
}

.expiration-date-month {
width: 12px!important;
border-radius: 0;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}

.expiration-date-year {
width: 24px!important;
border-radius: 0;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
margin-left: -1px;
}

.content-filters-left span,
.content-middle-filters span {
	cursor: pointer;
}

.buttons-print-ticket img {
	position: relative;
	top: 1px;
}

.loading-block {
	text-align: center;
	display: none;
	margin-top: 10px;
	margin-bottom: 30px;
}

.transfer input {
	height: 25px;
	width: 193px;
}

.t1-row span,
.t2-row span,
.t3-row span {
display: inline-block;
margin-right: 8px;
font-size: 14px;
}

.t1-row span:nth-last-child(1),
.t2-row span:nth-last-child(1),
.t3-row span:nth-last-child(1) {
	margin-right:0;
}

.legal-entity {
display:none;
}

.price {
font-weight: bold;
color: #e84044;
}

.extend-info-image {
margin-left: 5px;
position: relative;
top: 2px;
}

.pax-type {
	font-weight: bold;
	color: black;
	margin-top: 10px;
	font-size: 16px;
}

.text-ne {
margin-left: 5px;
margin-top: 10px;
}

.flight-icons img {
width: 20px;
}

.flight-clock {
	width: 16px!important;
}

.cell-1 {
margin-top: 10px;
}

.flight-date {
	position: relative;
}

.name {
float: left;
font-size: 16px;
}

.description {
margin-bottom: 15px
margin-top: -15px;
}

.column-1 {
clear: left;
float: left;
margin-top: -5px;
text-align: center;
}

.column-2 {
position: relative;
left: 10px;
top: 11px;
}

.column-2 img {
float: left;
clear: right;
margin-left: 6px;
margin-top: 22px;
width: 16px;
}

.column-3 {
clear: right;
margin-left: 170px;
position: relative;
top: -3px;
text-align: center;
}

.prom-title {
font-size: 18px;
border-bottom: 1px solid #c8c8c8;
color: black;
padding-left: 5px;
}

.flight-info {
font-size: 14px;
}

.top {
	margin-top: 5px;
	margin-bottom: 15px;
}

.time-blue {
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
color: #5584C3;
}

.promotion-takeoff {
margin-bottom: 10px;
}

.time-red {
	color: #e84044;
margin-top: 5px;
margin-bottom: 5px;
}

.prom-price {
position: relative;
top: -3px;
font-size: 14px;
width: 180px;
}

.rprice {
	font-size: 25px;
	font-weight: bold;
	color: #e84044;
	position: relative;
	top: 1px;
}

.flight .price {
font-size: 25px;
margin-top: 30px;
position: relative;
}

.flight .tax .price {
font-size: 14px;
}

.flight .flight-info {
	font-size: 11px;
}

.row-first {
	position: relative;
	top: -22px;
}

.clock-image {
width: 15px;
position: relative;
top: 3px;
}

.flight .flight-id {
clear: both;
margin-left: 0;
}

.timer-bar {
margin-top: 20px;
margin-bottom: 20px;
padding-bottom: 40px;
}

.flight  .input-data .title {
	position: relative;
	margin-left: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	padding:0;
	padding-bottom:	10px;
}


.filters .title {
border-bottom: 1px solid #ACACAC!important;
margin-bottom: 20px;
width: 225px;
margin-left: -11px;
}

.blue-plane {
width: 20px!important;
}

.red-plane {
width: 20px!important;
}

.adult-part {
margin-top: 0px;
margin-bottom: -20px;
}

.pay-methods .wCheck {
	margin-right: 5px;
}

.filters .wCheck {
	margin-right: 5px;
}

.promotion-takeoff .date {
	color: #e84044;
}

.promotion-landing .date {
	color: #5584C3;
}

.promotion-takeoff .city,
.promotion-landing .city {
	font-weight: bold;
}

.content-filters-left span {
display: inline-block;
width: 49px;
text-align: center;
margin-top: -5px;
}

.congratulation-block {
text-align: center;
font-size: 20px;
color: black;
display: none;
margin-top: 25px;
margin-bottom: 15px;
}

.transfer-type {
width: 211px;
}

.card-in {
font-weight: normal;
float: left;
display: none;
margin-left: 24px;
margin-left: 29px\9;
margin-right: 23px;
}

@-moz-document url-prefix() {
    .card-in {
		margin-left: 18px;
	}
}

.card-in:hover {
cursor: pointer;
}

.promotion-takeoff .prom-title {
color: #5584C3!important;
}

.promotion-landing .prom-title {
	color: #e84044;
}

#type_ADT_0 {
	position: relative;
	top: -2px;
	left: 45px;
	width: 130px;
}

.gender .row-title {
float: left;
position: relative;
bottom: -19px;
}

.course-name .person-number {
float: left;
}

.course-name .price {
float: right;
visibility: hidden;
}

.course-name .flight-name {
	font-size: 20px;
	font-weight: normal;
}

.other-service {
padding-bottom: 10px;
}

.item .title {
	padding-left: 0px;
}

.congratulation-block .first-text {
	color: #E94045;
	font-size: 20px;
}

.congratulation-block .info {
	font-size: 13px;
	color: #A5A6A7;
	border-top: 1px solid #a5a6a7;
	padding-top: 5px;
}

.congratulation-block .date {
	color: black;
	font-size: 16px;
}

.buttons-buy-ticket img {
margin-top: 1px;
}

.back-cvv .inner input {
width: 40px;
margin-right: 20px;
}

.footer-price {
	position: relative;
	top: 2px;
}

.buttons-print-ticket:hover {
    background: #cb3a44;
}
.content-main-footer {
    margin-top: -30px;
}
.landing-time-red {
    color: #e84044;
}
.airport-name-red {
    color: #e84044;
}
.airport-name-blue {
    color: #5584C3;
}
.landing-time-blue {
    color: #5584C3;
}

.fid-card-field,
.fid-card-button {
	display: none;
}
.fid-card-button {
    padding: 5px;
    color: white;
    background: #e84044;
    border-radius: 5px;
    margin-left: 8px;
	padding-bottom: 5px;
    padding-bottom: 7px\9;
	position: relative;
	top: -2px\9;
}
@-moz-document url-prefix() {
    .fid-card-button {
		padding-bottom: 6px;
	}
}
.fid-card-button:hover {
    cursor: pointer;
    background: #cb3a44;
}
.row-inp.ffy.card-choice .text {
    margin-right: 5px;
}
.padding-item.person-info input {
    width: 193px;
    height: 25px;
}
.person-info .button-text {
    height: 17px;
	height: 21px\9;
}
.end-price .title {
    margin-bottom: -20px;
	border-bottom: 1px solid #dbdbdb;
	padding-bottom: 5px;
}

.content-filters-right.plusminus:hover {
	background: #24529b;
	cursor: pointer;	
}

.tos .wCheck {
    margin-bottom: 8px;
    margin-right: 2px;
}
.tos {
    margin-top: 10px;
}
.back-cvv .inner .title {
	margin-left: 50px;
}
.back-cvv .last-numbers {
    margin-right: -40px;
}
.prom-price .add-info {
    position: relative;
    top: -3px;
}
.tax .price {
    top: 0;
}

.button-text img {
    margin-top: -5px;
    margin-right: -5px;
}
.red-button img {
position: relative;
top: 1px;
}
.red-button .text {
	position: relative;
	top: -4px;
	margin-left: 10px;
	margin-right: 10px;
}
.buttons-reserve-1-ticket {
	margin-top: 9px;
}

.padding-item.person-info, .t1-row, .t2-row, .t3-row {
margin-top: -5px;
}
.end-price .title {
font-weight: lighter;
}
.pay-methods .person-type img {
	margin-top: -28px;
	margin-top: -29px\9;
	padding-bottom: 7px;
	padding-bottom: 8px\9;
	padding-top: 9px;
}
@-moz-document url-prefix() { 
  .pay-methods .person-type img {
	margin-top: -29px;
	padding-bottom: 7px;
	padding-top: 10px;
}
}
.row-inp.ffy.card-choice .card-nr {
    float: left;
}
.row-inp.ffy.card-choice .apply-card {
    float: left;
}
.row-inp.gender.adult-part .row-title {
margin-top: -5px;
}
.wCheck-label {
	  margin: 0 10px 0px 4px!important;
}
.card-nr .text {
	  margin-left: 10px;
}
.fid-card-field {
width: 144px;
}
.last-numbers input {
background: none;
border: none;
}
.ui-slider a:hover{
	  background: #929292!important;
}

.if-logged-in {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #a5a6a7;
    padding-bottom: 10px;
    padding-top: 10px;
}
.step-1, .step-2, .step-3, .step-4 {
    margin-bottom: 10px;
    height: 45px;
    width: 244px;
    text-align: center;
    display: inline-block;
}
.step-1 {
    background: url(../images/finished-purcahse-step.png) no-repeat;	
}
.step-2 {
    background: url(../images/finished-purcahse-2-step.png) no-repeat;
    left: 238px;
    position: absolute;
}
.step-3 {
    background: url(../images/unfinished-purcahse-step.png) no-repeat;
    position: absolute;
    left: 477px;
}
.step-4 {
    background: url(../images/unfinished-purcahse-2-step.png) no-repeat;
    position: absolute;
    left: 715px;
    top: -1px;
}
.step-1 div, .step-2 div, .step-3 div, .step-4 div {
    position: relative;
    top: 9px;
    font-size: 20px;
}

.step-1 div, .step-2 div {
    color: white;
}

.row-inp.row-first.adult-part {
    position: relative;
    top: -23px;
	top: -25px\9;
}
.row-last {
	margin-right: 0px!important;
}
.row-inp.adult-part input {
    width: 142.5px;
}
.detailed-info .red {
    border-bottom: 1px dotted #DBDBDB;
	padding-bottom: 10px;
}
.content-main-footer div.price{
    position: relative;
    top: 4px;
}
.content-main-footer .tax {
    position: relative;
    top: 0px;
	font-size: 14px;
	display: inline-block;
}
.person-type img {
    margin-right: -5px;
}
.person-info .button-text{
	width: 203px\9;
}

.person-info input {
	width: 197px\9!important;
}
noindex:-o-prefocus,.padding-item.person-info input{
	width: 197px;
}
.row-inp.gender.adult-part input {
    width: 20px!important;
}
.card-choice .card-in .button-text {
	height: 17px;
}
.card-choice .card-in img {
	padding-top: 10px;
	padding-bottom: 6px;
	padding-bottom: 7px\9;
	margin-top: -28px;
	margin-top: -29px\9;
}
.pay-methods .person-type img {
	margin-right: -3px;
	margin-right: 1px\9;
}
.cell-1 {
	width: 180px;
}

.cell-2 {
	width: 160px;
}

.cell-3 {
	width: 170px;
}

.cell-4 {
	width: 160px;
}

.transfer .button-text {
	width: 199px\9;
}
.person-info img {
	padding-bottom: 9px\9;
}

.clmn {
	position: relative\9;
	top: -3px\9;
}
.person-info .clmn {
	position: relative\9;
	top: -7px\9;
}
.person-info img {
	padding-top: 11px\9;
	padding-bottom: 6px\9;
	margin-top: 0px\9;
}

.person-info .button-text {
	padding-top: 0px\9;
	height: 23px\9;
}
.person-info .button-text span {
	position: relative\9;
	top: 5px\9;
}
.person-info .legal-entity img {
	padding-bottom: 6px\9;
}
.person-info .legal-entity .res-individual-country img {
	margin-top: -29.5px\9;
	padding-bottom: 9px\9;
}
.person-info .legal-entity .res-individual-sector img {
	margin-top: -30px\9;
	padding-bottom: 7px\9;
}
.music-eq-in img,
.sport-eq-in img {
	padding-top: 11px\9;
	padding-bottom: 6px\9;
}
.clmn .button-dropdown {
    position: relative;
    top: 1px;
}
.clmn .individual-country img {
	padding-bottom: 7px\9;
	padding-top: 9px\9;
}
.row-last.clmn .individual-country img {
	margin-top: -28px\9;
	padding-top: 10px\9;
	padding-bottom: 6.5px\9;
}
.person-info .legal-entity .row-last.clmn .res-individual-country img {
	padding-bottom: 7px\9;
	margin-top: -29.5px\9;
}
.person-info .legal-entity .clmn .res-individual-sector img {
	padding-bottom: 6px\9;
	margin-top: -29px\9;
}
.pay-methods .person-type img {
	margin-top: -29px\9;
	margin-bottom: 7px\9;
	padding-top: 10px\9;
	padding-bottom: 7px\9;
}
.card-choice .card-in img {
	margin-top: -28px;
	padding-bottom: 6.5px\9;
}

.select-seat {
    position: relative;
    top: 20px;
    margin-bottom: 10px;
}
.select-seat {
    position: relative;
    top: 20px;
    margin-bottom: 10px;
}
.buttons-seat-select {
    background: #e84044; height: auto; padding: 4px; top: 4px;
    color: white;
    border-radius: 5px;
    clear: right;
    display: table-cell;
}
.buttons-seat-select:hover {
    cursor: pointer;
    background: #CC3A45;
}
#seat-select-popup {
	position:fixed;
	left:0;
	top:0;
	width:960px;
	height: 230px;
	z-index:1000;
	background:#EFF3F4;
	margin-left:-480px;
	left: 50%;
	margin-top: -110px;
	top:50%;
	border-radius: 10px;
	display: none;
	padding: 10px;
	font-size: 14px;
	color: #8F8F8F;
}
.flight-id,
.start,
.landing,
.flight-time {
	display: inline-table;
	margin-right: -3px;
}
.flight-id {
    width: 160px;
}
.start {
    width: 346px;
}
.landing {
    width: 347px;
}
.flight-time {
    width: 110px;
}
.flight-price {
    position: relative;
    left: 40px;
}
#seat-select-popup .head {
    border-bottom: 1px solid black;
    height: 22px;
}
#seat-select-popup .flight-id .head {
    height: 22px;
}
.flight-id .descr, .flight-id .number {
    color: black;
}
.flight-id .number {
    font-weight: bold;
}
.start .city-time,
.landing .city-time {
    font-weight: bold;
    margin-right: 5px;
    color: black;
}
.start .city-time, .start .date,
.landing .city-time, .landing .date{
    display: inline-block;
}
.start .date, .start .airport,
.landing .date, .landing .airport{
    font-size: 13px;
}
.flight-time {
    color: black;
}
.flight-short-info.secondary .cell-2 .terminal-type,
.flight-short-info.secondary .cell-4 .terminal-type {
	margin-bottom: 2px;
}
.footer-price .available-seats {
    display: inline-block;
    position: relative;
    left: 80px;
    top: -11px;
    color: #0EAD00;
}
.footer-price .available-seats .seats-number {
    font-weight: bold;
}
.passport-country .button-text,
.nationality .button-text {
	background: white;
	padding: 4px;
	border-radius: 5px;
	color: #5b5b5b;
	border: 1px solid #adadad;
	height: 19px;
}
.nationality .button-text,
.passport-country .button-text {
	width: 155px;
	width: 151px\9;
}
.nationality ul,
.passport-country ul {
	min-width: 152px!important;
}
.passport-country img,
.nationality img {
	border-left: 1px solid #a4a5a5;
	padding-bottom: 7px;
	float: right;
	margin-top: -4px;
	padding-top: 10px;
	padding-left: 8px;
	padding-bottom: 6px;
	padding-right: 8px;
	margin-right: -4px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.passport-country ul,
.nationality ul {
	padding: 0px;
	margin: 0px;
	display: none;
	z-index: 100;
	background: white;
	border-radius: 5px;
	color: #5b5b5b;
	margin-top: 1px;
	min-width: 128px;
	padding: 5px;
	border: 1px solid #adadad;
	list-style: none;
}
.passport-country li,
.nationality li{
	padding-left: 5px;
	margin-left: -5px;
	padding-right: 5px;
	margin-right: -5px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.passport-country li:first-child,
.nationality li:first-child {
	margin-top: -5px;
	padding-top: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.passport-country li:last-child,
.nationality li:last-child {
	margin-bottom: -5px;
	padding-bottom: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.passport-country li:hover,
.nationality li:hover {
	background: #d7d7d7;
}
.language-block .button-text {
	background: #5282C0;
	padding: 4px;
	border-radius: 5px;
	width: 	90px;
	color: white;
	cursor: pointer;
}
.language-block img {
margin-top: -28px;
padding-top: 9px;
padding-right: 8px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
#content-sidebar-left, #content-main, #content-sidebar-right {
margin-bottom: -150px;
}
.clear {
    clear: both;
}
.ticket-radio-2 {
    margin-right: 3px;
    margin-right: 5px\9;
}
@-moz-document url-prefix() { 
  .ticket-radio-2 {
     margin-right: 6px;
  }
}
.ticket-type-choice-nm {
    margin-left: 10px;
    padding-top: 5px;
}
.buttons-ticket {
    position: absolute;
    position: relative;
    padding: 10px;
    height: 130px;
}
.multi-direction {
    display: none;
}

.buttons-multidirection, .buttons-new-direction, .buttons-remove-direction {
    background: none repeat scroll 0 0 #E84044;
    height: auto;
    left: -115px;
    padding: 4px;
    top: 4px;
}
.buttons-multidirection:hover, .buttons-new-direction:hover, .buttons-remove-direction:hover {
    background: none repeat scroll 0 0 #CB3A44;
    cursor: pointer;
}
.buttons-multidirection .in-button .text, .buttons-new-direction .in-button .text, .buttons-remove-direction .in-button .text {
    font-size: 14px;
    position: relative;
    top: -2px;
}
.buttons-search-ticket, .buttons-search-hotel, .buttons-multidirection, .buttons-new-direction, .buttons-remove-direction {
    background: none repeat scroll 0 0 #E84044;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: right;
    font-size: 20px;
    height: 26px;
    padding: 5px;
    top: 2px;
}

.buttons-new-direction, .buttons-remove-direction {
    float: none;
    font-size: 20px;
    left: 0;
    padding-left: 15px;
    padding-right: 14px;
    top: 0;
    margin-right: 5px;
}
.new-direction, .remove-direction {
    display: inline-block;
}
.buttons-remove-direction {
    padding-left: 16px;
    padding-right: 16px;
}
.directions .input-field {
    margin-bottom: 5px;
}
.directions input.date-select {
    padding-left: 14px;
    padding-right: 14px;
    width: 193px;
    height: 33px;
    border-radius: 10px;
}
.directions {
    margin-bottom: 30px;
}